.Btn {
  display: inline-block;
  min-width: 13.75rem;
  padding: 0 1rem;

  color: var(--darkText);
  font-weight: 600;
  line-height: 3;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--lightBg);
  border-radius: 7px;
}

.Btn--border {
  min-width: auto;
  padding: 0 2.25rem;

  color: var(--lightText);
  font-size: 1rem;
  line-height: 2.5;

  border: 1px solid currentColor;
  background-color: transparent;
}
