.Score {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 0 auto;
  padding: 0.7rem 0.65rem;

  line-height: 1;

  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 0.4em;
}

.Score__header {
  padding: 0 0.7rem;
  margin: 0;

  color: var(--lightText);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
}

.Score__header > span {
  display: block;
}

.Score__display {
  padding: 0.5rem 1.25rem;

  color: var(--textDark);
  text-align: center;

  background-color: var(--lightText);
  border-radius: 0.2em;
}

.Score__name {
  display: block;

  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
}

.Score__stat {
  display: block;

  font-size: 2.5rem;
  font-weight: 700;
}

@media(min-width: 500px) {
  .Score {
    max-width: 700px;
    padding: 1.0rem 1.25rem;

    border-width: 4px;
    border-radius: 0.7em;
  }

  .Score__header {
    padding: 0 0.5rem;

    font-size: 2.5rem;
  }

  .Score__display {
    padding: 1.05rem 2.95rem;
    border-radius: 0.5em;
  }

  .Score__name {
    letter-spacing: 0.2em;
  }

  .Score__stat {
    font-size: 4rem;
  }
}