.Game {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  padding: 1.95rem;

  background: radial-gradient(circle at top center, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-size: 100% 100%;
}

.Game__link {
  display: inline-block;
  padding: 0 2.25rem;

  color: var(--lightText);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  line-height: 2.5;

  border: 1px solid currentColor;
  border-radius: 9px;
}

@media (min-width: 500px) {
  .Game {
    padding: 2.9rem 1.95rem;
  }
}