.Game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  padding: 1.95rem;

  background: radial-gradient(circle at top center, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-size: 100% 100%;

  transition: all 200ms linear;
}

.Game * {
  transition: all 200ms linear;
}

.Game__display {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;

  width: 310px;
  height: 280px;
}

.Game__display :nth-child(3) {
  margin: 0 auto;
}

.Game__link {
  display: inline-block;
  padding: 0 2.25rem;

  color: var(--lightText);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  line-height: 2.5;

  border: 1px solid currentColor;
  border-radius: 9px;
}

@media (min-width: 500px) {
  .Game {
    justify-content: start;
    padding: 2.9rem 1.95rem;
  }

  .Game__display {
    height: 420px;
    width: 470px;

    margin-top: auto;
  }

  .Game__link {
    margin-left: auto;
  }
}