@import-normalize;

:root {
  --darkText: hsl(229, 25%, 31%);
  --lightText: hsl(0, 100%, 100%);
  --scoreText: hsl(229, 64%, 46%);
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Barlow Semi Condensed', Arial, sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
