@import-normalize;

:root {
  --darkText: hsl(229, 25%, 31%);
  --lightText: hsl(0, 100%, 100%);
  --scoreText: hsl(229, 64%, 46%);

  --lightBg: hsl(0, 100%, 100%);
}

body {
  box-sizing: border-box;
  min-width: 360px;
  margin: 0;

  font-family: 'Barlow Semi Condensed', Arial, sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: radial-gradient(circle at top center, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-size: 100% 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
