.ResultScreen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
}

.ResultScreen > * {
  flex: 0 0 auto;
}

.ResultScreen__chip {
  display: flex;
  flex-direction: column;
  align-items: center;

  pointer-events: none;
  touch-action: none;
}

.ResultScreen__chip > :first-child {
  align-self: flex-end;
}

.ResultScreen__backdrop {
  border-radius: 50%;
  background-color: hsl(220, 47%, 18%);
}

.ResultScreen__label {
  margin-top: 1.7rem;

  color: var(--lightText);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.ResultScreen__result {
  order: 3;

  width: 15.625rem;
  margin: 4.6rem auto 0;

  text-align: center;
}

.ResultScreen__result > h2 {
  margin: 0;
  margin-bottom: 1.5rem;

  color: var(--lightText);
  font-size: 3.3rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@media(max-width: 43.75rem) {
  .ResultScreen__result {
    margin: 4.6rem auto 0 !important;
  }
}

@media(min-width: 43.75rem) {
  .ResultScreen {
    flex-wrap: nowrap;
    align-items: flex-end;

    width: auto;
  }

  .ResultScreen__chip {
    flex-direction: column-reverse;

    width: 18.75rem;
  }

  .ResultScreen__chip > :first-child {
    align-self: center;

    scale: 1.5;
  }

  .ResultScreen__backdrop {
    font-size: 3rem;
  }

  .ResultScreen__label {
    margin-top: 0;
    margin-bottom: 7rem;

    font-size: 1.5rem;
    letter-spacing: 0.12em;
  }

  .ResultScreen__result {
    order: initial;

    margin: 0 0 2.5rem;
  }
}