.ChipsDisplay {
  position: relative;

  margin-top: 100px;
}

.ChipsDisplay__bg {
  display: block;

  width: 55vw;
  min-width: 12.5rem;
  max-width: 18.75rem;
  height: auto;

  opacity: 1;
  transition: opacity 200ms linear;
}

.ChipsDisplay__chip {
  position: absolute;
  border-radius: 50%;
}

.ChipsDisplay--standart .ChipsDisplay__chip:nth-of-type(1) {
  top: 0;
  left: 0;
  transform: translate(-40%, -45%);
}

.ChipsDisplay--standart .ChipsDisplay__chip:nth-of-type(2) {
  top: 0;
  right: 0;
  transform: translate(40%, -45%);
}

.ChipsDisplay--standart .ChipsDisplay__chip:nth-of-type(3) {
  bottom: 0;
  right: 50%;
  transform: translate(50%, 25%);
}

.ChipsDisplay--lizard-spock .ChipsDisplay__bg {
  max-width: 20rem;
}

.ChipsDisplay--lizard-spock .ChipsDisplay__chip:nth-of-type(1) {
  top: 0;
  left: 50%;
  transform: translate(-50%, -55%) scale(0.75);
}

.ChipsDisplay--lizard-spock .ChipsDisplay__chip:nth-of-type(1) {
  top: 0;
  left: 50%;
  transform: translate(-50%, -55%) scale(0.75);
}

.ChipsDisplay--lizard-spock .ChipsDisplay__chip:nth-of-type(2) {
  top: 0;
  right: 0;
  transform: translate(53%, 10%) scale(0.75);
}

.ChipsDisplay--lizard-spock .ChipsDisplay__chip:nth-of-type(3) {
  bottom: 0;
  right: 0;
  transform: translate(20%, 53%) scale(0.75);
}

.ChipsDisplay--lizard-spock .ChipsDisplay__chip:nth-of-type(4) {
  bottom: 0;
  left: 0;
  transform: translate(-20%, 53%) scale(0.75);
}

.ChipsDisplay--lizard-spock .ChipsDisplay__chip:nth-of-type(5) {
  top: 0;
  left: 0;
  transform: translate(-53%, 10%) scale(0.75);
}

.ChipsDisplay--results .ChipsDisplay__bg {
  opacity: 0
}

.ChipsDisplay--results .ChipsDisplay__chip {
  pointer-events: none;
  touch-action: none;
}

.ChipsDisplay--results .ChipsDisplay__chip::after {
  content: 'YOU PICKED';

  position: absolute;
  bottom: -2.75rem;
  left: 1.05rem;

  color: var(--lightText);
  font-family: 'Barlow Semi Condensed', Arial, sans-serif;
  font-size: 0.95rem;
  font-weight: 700;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}

.ChipsDisplay--results .ChipsDisplay__chip:nth-of-type(2):before {
  content: '';

  position: absolute;
  z-index: -1;

  display: block;
  top: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;

  background-color: hsl(220, 47%, 18%);
  border-radius: 50%;
}

.ChipsDisplay--results .ChipsDisplay__chip:nth-of-type(2) button {
  opacity: 0;
}

.ChipsDisplay--results .ChipsDisplay__chip:nth-of-type(2)::after {
  content: 'THE HOUSE PICKED';

  left: -0.2rem;

  white-space: nowrap;
}

.ChipsDisplay--results .ChipsDisplay--lizard-spock .ChipsDisplay__chip:nth-of-type(1) {
  top: 0;
  left: 0;
  transform: translate(-40%, -45%);
}

@media(min-width: 31.25rem) {
  .ChipsDisplay--standart .ChipsDisplay__chip:nth-of-type(1) {
    transform: translate(-45%, -45%);
  }

  .ChipsDisplay--standart .ChipsDisplay__chip:nth-of-type(2) {
    transform: translate(45%, -45%);
  }

  .ChipsDisplay--standart .ChipsDisplay__chip:nth-of-type(3) {
    transform: translate(50%, 30%);
  }
}

@media(min-width: 43.75rem) {
  .ChipsDisplay--results .ChipsDisplay__chip {
    scale: 1.5;
  }

  .ChipsDisplay--results .ChipsDisplay__chip::after {
    top: -3.75rem;
    bottom: auto;
    left: 3rem;

    letter-spacing: 0.16em;
  }

  .ChipsDisplay--results .ChipsDisplay__chip:nth-of-type(2)::after {
    left: 1rem;
  }

  .ChipsDisplay--results .ChipsDisplay__chip:nth-of-type(2):before {
    top: 1.3rem;
    right: 1.3rem;
    bottom: 1.3rem;
    left: 1.3rem;
  }
}